a {
  text-decoration: none;
  color: $black;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  padding: 20px 20px 0 0;
}

header {
  h1,
  p {
    display: inline-block;
  }
}

p {
  font-size: 2rem;
}

i {
  padding-left: 20px;
  color: $buttonColor;
}

form {
  margin: 20px;
  font-size: 1.6rem;
  background: #FFF;
  border-radius: 5px;

  display: flex;
  align-items: center;

  .searchField {
    width: 40%;
  }

  .locationField {
    width: 30%;
  } 
  
  input[type="checkbox"] {
    box-shadow: 0 0 0 1px $buttonColor;
  }

  .submitButton {
    width: 30%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

    label {
      padding: 0 40px 0 10px;
    }
  }

  input[type="text"] {
    width: 85%;
  }

  input::placeholder,
  .submitButton label {
    color: gray;
    font-family: $baseFont;
    opacity: 80%;
  }
}



// Inputs
#search,
#location {
  padding: 20px 5px;
  border: none;
  // border-right: 2px solid $backColor;
}

.searchField,
.locationField {
  border-right: 2px solid $backColor;
}

.locationField {
  width: 90%;
}