main {
  display: flex;
}

.jobPostings,
.jobDescription {
  padding: 15px;
  background: $middleColor;
}

.jobPostings {
  width: 40%;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.jobPostings div {
  padding: 10px;
  background: $white;

  img {
    width: 30%;
  }
}

.jobDescription {
  width: 60%;
}
